/*SELECCIONAR PERFIL*/

.SeleccionarPerfil{
    margin: 0;
    min-height: 100vh;

    background: linear-gradient(to right, #FEBDC3, #EF758A);

    font-family: 'Nunito', sans-serif;
}

.caja-bootstrap{
    width: 75%;

    max-width: 700px;

    margin-top: 10vh;

    background-color: #FFFAE5;

    border: 0.4rem solid #786951;

    border-radius: 2rem;

    padding: 4vh 4vw;
}

.caja-bootstrap p{
    color: #786951;

    font-family: 'Nunito', sans-serif;

    font-size: 1.3rem;
}
